<img src="https://www.uscis.gov/sites/default/files/images/site/DHS_cis_W.svg" alt="USCIS Logo" style="display: block; margin: 0 auto; width: 400px;">

<p style="color: green"><%= notice %></p>

<h1>USCIS Globals Team Message Board</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
